---
---
<!-- source at https://gitlab.com/nyanbinary/resume -->

<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<title>{{ site.title }}</title>
<meta name="viewport" content="width=device-width">
<meta name="author" content="Ezra Neer">
<meta name="description" content="{{ site.description }}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
<link rel="stylesheet" href="assets/main.css"/>


</head>

<body>

<div id="header" class="header">
  <div class="header-container">
	  <div class="flex-left">
	    <h1>{{site.name}}</h1>
	    <span class="tagline">{{site.job}}</span>
	  </div>
  </div>
</div>

<div id="content">
{% include mission.html %}
{% include education.html %}
{% include skills.html %}
{% include work.html %}
{% include projects.html %}
{% include awards.html %}
{% include social.html %} 
{% include contact.html %}
{% include references.html %}

</div>

</body>

</html>