<!-- awards -->
  <div class="category awards">
    <div class="cat-title">
      <h2 class="cat-name">Achievements</h2>
      <span class="cat-head-line"></span>
    </div>
    <div class="cat-body">

    {% for a in site.data.awards %}
      <div class="listing">
        <i class="fa fa-trophy fa-pull-left"></i>
        <div class="list-item">
          <h3 class="title">{{ a.title }}</h3>
          <div class="item-with-time">
            <span class="item">{{ a.org }}</span>
            <span class="time">{{ a.time }}</span>
          </div>
          <div class="list-more">
            {{ a.desc }}
          </div>
        </div>
      </div>
    {% endfor %}

    </div>
  </div>
<!-- end -->