<!-- contact -->
  <div class="category contact">
    <div class="cat-title">
      <h2 class="cat-name">Contact</h2>
      <span class="cat-head-line"></span>
    </div>
    <div class="cat-body">

      <div class="listing horiz-list">
      {% for c in site.data.contact %}
        {% if c.visibility.web %}
          <span class="network {{ c.visibility.print | default: '' }}">
            <span class="name"><h3>{{ c.title }}</h3></span>
            {% for i in c.items %}
            <span class="username"><a href="{{ i.link }}">{{ i.label }}</a></span>
            {% endfor %}
          </span>
        {% endif %}
      {% endfor %}
      </div>

    </div>
  </div>
<!-- end -->