<!-- education -->
  <div class="category edu">
    <div class="cat-title">
      <h2 class="cat-name">Education</h2>
      <span class="cat-head-line"></span>
    </div>
    <div class="cat-body">

    {% for e in site.data.edu %}
      <div class="listing">
        <i class="fa fa-graduation-cap fa-pull-left"></i>
        <div class="list-item">
          <h3 class="title">{{ e.title }}</h3>
          <div class="item-with-time">
            <span class="item">{{ e.deg }}</span>
            <span class="time">{{ e.startTime }}<span class="longdash"></span>{{ e.endTime }}</span>
          </div>
          <div class="list-more flex-horizontal">
          {% for m in e.major %}
            <span class="item"><i class="fa fa-book"></i>Major: {{ m }}</span>
          {% endfor %}
          </div>
          <div class="list-more flex-horizontal">
            {% for m in e.minor %}
              <span class="item"><i class="fa fa-book"></i>Minor: {{ m }}</span>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}

    </div>
  </div>
<!-- end -->