<!-- projects -->
  <div class="category projects">
    <div class="cat-title">
      <h2 class="cat-name">Projects</h2>
      <span class="cat-head-line"></span>
    </div>
    <div class="cat-body">

    {% for p in site.data.projects %}
      <div class="listing">
        <i class="fa fa-code-branch fa-pull-left"></i>
        <div class="list-item">
          <h3 class="title">{{ p.title }}</h3>
          <div class="item-with-time">
            {% if p.link %}<span class="item"><a href="{{ p.link }}">{{ p.link }}</a>{% else %} N/A </span>{% endif %}
            <span class="time"></span>
          </div>
          <div class="list-more block">
            {{ p.desc }}
          </div>
        </div>
      </div>
    {% endfor %}

    </div>
  </div>
<!-- end -->