<!-- references -->
  <div class="category reference no-print">
    <div class="cat-title">
      <h2 class="cat-name">References</h2>
      <span class="cat-head-line"></span>
    </div>
    <div class="cat-body">

    {% for r in site.data.references %}
      <div class="listing">
        <i class="fa fa-quote-left fa-pull-left"></i>
        <div class="list-item">
          <span class="refer-text">{{ r.text }}</span>
        </div>
      </div>
    {% endfor %}
    <div class="listing no-print">
      <div class="list-item">
        <a href="{{ site.url }}/{{ site.download_dir }}/{{ site.filename }}">Download Resume (as .pdf)</a>
      </div>
    </div>
    </div>
  </div>
<!-- end -->