<!-- social profiles -->
  <div class="category social">
    <div class="cat-title">
      <h2 class="cat-name">Profiles</h2>
      <span class="cat-head-line"></span>
    </div>
    <div class="cat-body">

      <div class="listing horiz-list">
      {% for s in site.data.social %}
        <span class="network">
          <span class="name"><h3>{{ s.title }}</h3></span>
          <span class="username"><a href="{{ s.link }}">{{ s.username }}</a></span> 
        </span>
      {% endfor %}
      </div>

    </div>
  </div>