/**
 * Core
 */

body {
    font-family: 'Oxygen', roboto, sans-serif;
    width: 100%;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

/**
 * Common layout properties
 */

.flex-left {
    margin-right: auto;
}

.flex-right {
    margin-left: auto;
}

.block {
    display: block !important;
}

/**
 * Generic flexbox styles
 */

.flex-horizontal {
    display: flex;
    flex-wrap: wrap;
}

.flex-horizontal .item {
    flex-basis: 33%;
    white-space: nowrap;
}

.flex-horizontal {
    padding-right: 0.4em;
    color: #333333;
}


/**
 * Header
 */

#header {
    max-width: 900px;
}

.header {
    margin: 1em auto 1em auto;
    width: 90%;
    border-bottom: 2px solid rgba(0,0,0,0.1);
}

.header-container {
    padding: 1em 5% 1em 5%;
    display: flex;
}

#header h1 {
    font-size: 2.2em;
    margin-bottom: 0.3em;
    font-weight: 700;
}

#header .tagline {
    font-size: 1.2em;
    opacity: 0.8;
}

#header .pic {
    width: 100px;
    height: 100px;
    /*border-radius: 10em;*/
}


/**
 * Container (content)
 */

#content {
    max-width: 850px;
    width: 95%;
    margin: 3em auto 5em auto;
}

/**
 * Category
 */

.category {
    margin: 3em 1em 2em 1em;
}

.listing {
    align-items: baseline;
}

.fa {
    font-size: 1.5em;
}

.cat-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cat-name {
    font-size: 1.5em;
}

.cat-head-line {
    max-width: 70%;
    width: 250px;
    min-width: 30%;
    height: 2px;
    background-color: rgba(0,0,0,0.6);
}

.cat-body {
    margin: 1.5em 3% 2em 3%;
}

/**
 * Category entry layout
 * Generic styles
 */

.inline-wrapper {
    display: inline;
}

.cat-body .listing {
    display: flex;
    margin-bottom: 2em;
}

.listing .list-icon {
    flex-grow: 1;
    font-size: 1.5em;
    padding-right: 0.5em;
    font-family: 'FontAwesome';
}

.listing .list-item {
    flex-grow: 100;
    display: flex;
    flex-direction: column;
}

.list-item .title {
    font-size: 1.2em;
}

.item-with-time {
    display: flex;
    margin-bottom: 0.6em;
}

.item-with-time .item {
}

.item-with-time .time {
    margin-left: auto;
    font-weight: 300;
}

.listing .list-more {
    display: flex;
}

.listing .list-item .list-more .item .fa {
    font-size: 1em;
    padding-right: 1%;
}

.category .cat-body .listing .fa  {
    padding-right: 2%;
}

/**
 * Education
 */


.edu .item-with-time .item {
    font-weight: 400;
}


/**
 * Skills
 */

.skills .listing {
    margin-bottom: 1.5em;
}

.item .dull:before {
    content: '//';
    margin-left: 0.2em;
    margin-right: 0.2em;
    opacity: 0.6;
}

.item .dull {
    opacity: 0.5;
    font-size: 0.9em;
}


/**
 * Awards
 */
.awards .item-with-time .item {
    font-weight: 700;
}


/**
 * Projects
 */

.projects .listing .list-icon:before {
    content: '\f15b'; /* fa-file */
}

.projects .item-with-time .item {
    font-size: 0.9em;
}

.projects .item-with-time .time {
    display: none;
}


/**
 * Social
 */

.horiz-list {
    flex-wrap: wrap;
}

.listing .network {
    flex-basis: 25%;
}

.network {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    white-space: nowrap;
}

.network .name {
    font-weight: 700;
}

.network .username a {
    color: inherit;
    text-decoration: none;
}


/**
 * Contact
 */

.contact .network {
    flex-basis: 33%;
}

.contact .network .username {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}


/**
 * References
 */

.reference .fa-quote-left {
    align-self: flex-start;
    font-size: 1.5em;
    border: 0;
}

.reference .refer-text {
    margin-bottom: 1em;
}


/**
 * Work Experience
 */

.work .listing .list-icon:before {
    content: '\f0b1'; /* fa-briefcase */
}

.item-with-time .item h4 {
    margin: auto;
}

/**
 * Extras
 * and
 * miscellaneous
 */

.longdash:before {
    content: '—'; /* the long dash */
    margin: 0 0.2em 0 0.2em;
}


/**
 * Mobile
 * and smaller screens
 * compatibility
 */

@media all and (max-width: 750px) {
    .flex-horizontal .item {
        margin-left: 1em;
        margin-right: 1em;
    }
    .network {
        margin-left: 1em;
        margin-right: 1em;
    }
}

@media all and (max-width: 650px) {
    .flex-horizontal .item {
        flex-basis: 40%;
    }
    .social .network {
        flex-basis: 27%; /* more than 25 to avoid 4, less than 33 because of the margin applied */
    }
}

@media all and (max-width: 500px) {
    #content {
        width: 98%;
    }
    .cat-body {
        margin-left: 1%;
        margin-right: 1%;
    }
}

/**
 * PRINTING
 * CSS
 * PUT STYLES FOR PRINTING HERE
 */

@media print { 
    body {
        font-size: 13px;
    }
    * {
        page-break-inside: avoid;
        page-break-after: avoid;
        page-break-before: avoid;
    }
    .no-print, .no-print * {
        display: none !important;
    }

    .skill::before {
        content: '•'
    }

    .listing i {
        display: none !important;
    }
}